<nav
  class="navbar navbar-expand-sm bg-danger navbar-light d-flex align-items-center justify-content-start gap-3 px-5 py-4"
>
  <a
    routerLink="/"
    routerLinkActive="text-warning"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="{ 'text-white': !homeRla.isActive }"
    #homeRla="routerLinkActive"
    class="text-decoration-none"
    >Home</a
  >
  <a
    routerLink="/pokemons"
    [queryParams]="{ limit: limitParam, page: pageParam }"
    routerLinkActive="text-warning"
    [routerLinkActiveOptions]="{ exact: false }"
    [ngClass]="{ 'text-white': !listRla.isActive }"
    #listRla="routerLinkActive"
    class="text-decoration-none"
    >List</a
  >
</nav>
