.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  background-color: #ff1c1cff;
  color: #f9ca2eff;
  font-size: 30px;
  gap: 20px;
}

.search {
  display: flex;
  padding: 14px;
  border-radius: 28px;
  background: #f6f6f6;
  width: 300px;
  z-index: 1;
}

.search-input {
  font-size: 16px;
  color: #333333;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}

a {
  color: white;
  text-decoration: none;
}

.active-link {
  color: yellow;
  text-decoration: none;
}
