<mat-paginator
  #paginatorTop
  [length]="pokemonNumber"
  [pageSize]="limit()"
  [showFirstLastButtons]="true"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="page()"
  (page)="onPageChanged($event)"
></mat-paginator>

<div class="container py-4">
  <div class="row g-3">
    @for (pokemon of pokemons.value()?.results ?? []; track pokemon.name) {
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="card h-100 shadow-sm">
        <div class="card-body p-2 d-flex align-items-center">
          <h5 class="card-title text-center w-100 text-truncate m-0">
            {{ pokemon.name | titlecase }}
          </h5>
        </div>
      </div>
    </div>
    }
  </div>
</div>
