<div class="pokemon-grid">
  <div class="box">
    <img src="001.png" alt="Bulbasaur" />
    <h3>Bulbasaur</h3>
    <p><b>Type:</b> Grass | Poison</p>
    <p><b>Height:</b> 2' 04"</p>
  </div>
  <div class="box">
    <img src="002.png" alt="Ivysaur" />
    <h3>Ivysaur</h3>
    <p><b>Type:</b> Grass | Poison</p>
    <p><b>Height:</b> 3' 03"</p>
  </div>
  <div class="box">
    <img src="003.png" alt="Venusaur" />
    <h3>Venusaur</h3>
    <p><b>Type:</b> Grass | Poison</p>
    <p><b>Height:</b> 6' 07"</p>
  </div>
  <div class="box">
    <img src="004.png" alt="Charmander" />
    <h3>Charmander</h3>
    <p><b>Type:</b> Fire</p>
    <p><b>Height:</b> 2' 00"</p>
  </div>
  <div class="box">
    <img src="005.png" alt="Charmeleon" />
    <h3>Charmeleon</h3>
    <p><b>Type:</b> Fire</p>
    <p><b>Height:</b> 3' 07"</p>
  </div>
</div>
