<app-pokemon-card
  [pokemon]="currentPokemon"
  [basePokemon]="basePokemon"
  [pokemonSpecies]="currentSpecies"
  [previousSpecies]="previousSpecies"
  [previousPokemon]="previousPokemon"
  [nextSpecies]="nextSpecies"
  [nextPokemon]="nextPokemon"
  [flavorText]="latestFlavorText()?.flavor_text"
  [latestCry]="latestCry()"
  [legacyCry]="legacyCry()"
  [weight]="convertWeight(currentPokemon.value()?.weight ?? 0)"
  [height]="convertHeight(currentPokemon.value()?.height ?? 0)"
  [selectedForm]="selectedVarietyName()"
  (formSelected)="onFormSelected($event)"
/>
